<h1>Edit Product</h1>
{{output}}
<form (ngSubmit)="uploadImage()">
<table>
  <tr>
    <td>Name:</td>
    <td><input type="text" name="name" [(ngModel)]="product.name"></td>
  </tr>
  <tr>
    <td>Des:</td>
    <td><input type="text" name="des" [(ngModel)]="product.des"></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td><input type="text" name="price" [(ngModel)]="product.price"></td>
  </tr>
  <tr>
    <td>Image:</td>
    <img [src]="product.image" [height]="50">
    <td><input type="file" name="path" (change)="upload($event)" accept="*.png.jpg"></td>
  </tr>
  <tr>
    <td>Category:</td>
    <select [(ngModel)]="product.category.id" name="category">
      <option *ngFor="let category of categories" [value]="category.id" [selected]="category.id === id">{{category.categoryName}}</option>
    </select>
  </tr>
  <tr>
    <td></td>
    <td><button>Edit</button></td>
  </tr>
</table>
</form>
